.site-footer {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
  color: #afadad;
  background-color: #000;

  p {
    margin: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__scroll-top {
    color: #48af40;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #55cb4c;
    }
  }
}
